@use "global" as *;

.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: rem(29) rem(20);
    align-items: center;
}

.header__logo img {
    max-width: rem(263);
}

.header__text-open {
    font-size: rem(14);
}

.header__text-tel {
    display: flex;
    justify-content: end;
    margin-top: rem(7);
}

.header__text-tel .icon {
    width: rem(25);
    height: rem(25);
}

.header__text-tel a {
    font-size: rem(24);
    font-weight: bold;
    color: #21A937;
}
