@use "global" as *;

.mv {
    height: rem(947);
    background-image: url(../images/common/fv.png);
    background-position: 75%;
    background-repeat: no-repeat;
    background-size: cover;
    @include mq(md) {
        height: rem(500);
    }

}

.mv__inner {
    padding: rem(133) rem(211);
    @include mq(lg) {
        padding: rem(150) rem(80);
    }
    @include mq(md) {
        padding: rem(350) rem(20) 0;

    }
}

.mv__header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    @include mq(md) {
        flex-direction: column;        
    }
}
.mv__title {
    writing-mode: vertical-lr;
    font-size: rem(28);
    font-weight: bold;
    padding: rem(18) rem(37);
    background-color: #FFF;
    letter-spacing: 0.2em;
    height: rem(565);
    line-height: 1;
    @include mq(lg) {
        padding: rem(18) rem(25);
    }
    @include mq(md) {
        writing-mode: horizontal-tb;
        height: auto;
        padding: rem(10) rem(10);
        font-size: rem(18);
        max-width: rem(330);
        width: 100%;
    }
    @include mq(sm) {
        padding: rem(10) rem(10);
        font-size: rem(16);
        max-width: rem(300);
        width: 100%;
    }

}

.mv__title:not(:first-child) {
    margin-right: rem(80);
    @include mq(lg) {
        margin-right: rem(50);
    }
    @include mq(md) {
        margin-right: 0;
        margin-top: rem(20);
    }
}

.mv__title span {
    color: #21A937;
}

